@page
@model Charges.AddModel
@{
}

<br>

<h2>Новый список начислений по лицевому счету</h2>

<form method="post">
  @if (Model.ErrorMessage.Length > 0)
  {
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>@Model.ErrorMessage</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
    </div>
  }

  <div class="input-group mb-3">
    <span class="input-group-text">№</span>
    <input type="number" min="0" class="form-control" placeholder="Номер квартиры" name="Apartment">
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text">Начисления</span>
    <input type="text" pattern="\d+(,\d{2})?" step="0.01" min="0" placeholder="Январь" class="form-control"
      name="January">
    <input type="text" pattern="\d+(,\d{2})?" step="0.01" min="0" placeholder="Февраль" class="form-control"
      name="February">
    <input type="text" pattern="\d+(,\d{2})?" step="0.01" min="0" placeholder="Март" class="form-control" name="March">
    <input type="text" pattern="\d+(,\d{2})?" step="0.01" min="0" placeholder="Апрель" class="form-control"
      name="April">
    <input type="text" pattern="\d+(,\d{2})?" step="0.01" min="0" placeholder="Май" class="form-control" name="May">
    <input type="text" pattern="\d+(,\d{2})?" step="0.01" min="0" placeholder="Июнь" class="form-control" name="June">
    <input type="text" pattern="\d+(,\d{2})?" step="0.01" min="0" placeholder="Июль" class="form-control" name="July">
    <input type="text" pattern="\d+(,\d{2})?" step="0.01" min="0" placeholder="Август" class="form-control"
      name="August">
    <input type="text" pattern="\d+(,\d{2})?" step="0.01" min="0" placeholder="Сентябрь" class="form-control"
      name="September">
    <input type="text" pattern="\d+(,\d{2})?" step="0.01" min="0" placeholder="Октябрь" class="form-control"
      name="October">
    <input type="text" pattern="\d+(,\d{2})?" step="0.01" min="0" placeholder="Ноябрь" class="form-control"
      name="November">
    <input type="text" pattern="\d+(,\d{2})?" step="0.01" min="0" placeholder="Декабрь" class="form-control"
      name="December">
  </div>

  @if (Model.SuccessMessage.Length > 0)
  {
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>@Model.SuccessMessage</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
    </div>
  }

  <div class="row mb-3">
    <div class="offset-sm-3 col-sm-3 d-grid">
      <button type="submit" class="btn btn-primary">Добавить</button>
    </div>
    <div class="col-sm-3 d-grid">
      <button class="btn btn-outline-primary" onclick="location.href='/MainTables'" type="button">Выйти</button>
    </div>
  </div>
</form>