@page
@model Saldo.AddModel
@{
}

<br>

<h2>Добавить сальдо по лицевому счету</h2>

<form method="post">
  @if (Model.ErrorMessage.Length > 0)
  {
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>@Model.ErrorMessage</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
    </div>
  }

  <div class="input-group mb-3">
    <span class="input-group-text">№</span>
    <input type="number" min="0" class="form-control" placeholder="Номер квартиры" name="Apartment">
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text">Входное сальдо</span>
    <input type="text" pattern="\d+(,\d{2})?" step="0.01" min="0" placeholder="Входное сальдо" class="form-control"
      name="InSaldo" required>
  </div>

  @if (Model.SuccessMessage.Length > 0)
  {
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>@Model.SuccessMessage</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
    </div>
  }

  <div class="row mb-3">
    <div class="offset-sm-3 col-sm-3 d-grid">
      <button type="submit" class="btn btn-primary">Добавить</button>
    </div>
    <div class="col-sm-3 d-grid">
      <button class="btn btn-outline-primary" onclick="location.href='/MainTables'" type="button">Выйти</button>
    </div>
  </div>
</form>